{% style %}
  .nws-mob-banner, .nws-desk-banner {
      width: 100%;
      height: 100%;
      display: block;
  }
  .nws-banner-slider .nws-custom-container {
      width: 100%;
      max-width: 100%;
      padding: 0;
      display: block;
      overflow: hidden;
  }
  .nws-banner-slider .nws-banner-slides {
      margin-bottom: 0;
  }
  .nws-mob-banner {
      display: none !important;
  }
  .nws-banner-slides .slick-slide > div {
      line-height: 0;
  }
  .nws-banner-slider .slick-dots li button:before {
     display: none !important;
  }
  .nws-banner-slider .slick-dots li button {
      width: 32px;
      height: 4px;
      border-radius: 10px;
      background-color: #242424;
      opacity: .2;
      display: inline-block;
      padding: 0;
  }
  .nws-banner-slider .slick-dots li.slick-active button {
      opacity: 1;
  }
  .nws-banner-slider .slick-dots li {
      margin: 0 10px 0 0;
      width: auto !important;
  }
  .nws-banner-slider .slick-dots {
      bottom: 25px;
  }
  @media screen and (max-width: 767px) {
    .nws-desk-banner {
      display: none !important;
    }
    .nws-mob-banner {
      display: block !important;
    }
  }
{% endstyle %}
<!-- nws-banner-slider.liquid -->
<div class="nws-banner-slider{% if section.settings.section_extra_class != blank %} {{ section.settings.section_extra_class }}{% endif %}">
  <div class="nws-custom-container">
    <div class="nws-banner-slides">
      {% for block in section.blocks %}
        <a
          href="{{ block.settings.banner_link }}"
        >
          {% if block.settings.desk_banner != blank %}
            <img
              src="{{ block.settings.desk_banner  | img_url: 'master'}}"
              class="nws-desk-banner"
              width="auto"
              height="auto"
            >
          {% endif %}
          {% if block.settings.mob_banner != blank %}
            <img
              src="{{ block.settings.mob_banner  | img_url: 'master'}}"
              class="nws-mob-banner"
              width="auto"
              height="auto"
            >
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Nws Banner Slider",
  "disabled_on": {
  "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "section_extra_class",
      "info": "Add section class (without.). Use spaces to add multiple classes",
      "label": "Section Class"
    }
  ],
"blocks":[
  {
    "type": "gallery",
    "name": "Banner",
    "settings":[
      {
        "type": "url",
        "id": "banner_link",
        "label": "Paste Banner Url"
      },
      {
        "type": "image_picker",
        "id": "desk_banner",
        "label": "Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "mob_banner",
        "label": "Mobile Image"
      }
    ]
  }
],
  "presets": [
    {
      "name": "Nws Banner Slider",
      "category": "Nws Banner Slider"
    }
  ]
}
{% endschema %}
